<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/spheres', sphereId]">{{ this.sphere?.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ this.room?.title }}</li>
    </ol>
</nav>
<mat-list>
    <mat-list-item *ngFor="let message of messages">{{ message.content }}</mat-list-item>
    <mat-list-item fxLayout="row-reverse"><span>Your message</span></mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<form>
    <mat-form-field fxFlex>
        <input matInput placeholder="Message" />
    </mat-form-field>
    <button mat-mini-fab><mat-icon>send</mat-icon></button>
</form>