<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item single-line-clamp"><a [routerLink]="['/spheres', sphereId]">{{ this.sphere?.name }}</a></li>
        <li class="breadcrumb-item active single-line-clamp" aria-current="page">{{ this.room?.title }}</li>
    </ol>
</nav>
<mat-list class="pb-2">
    <mat-list-item *ngFor="let message of messages" class="h-100 pt-3 hover-visible-parent">
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editMessageModal(message)"><mat-icon>edit</mat-icon><span>Edit</span></button>
            <button mat-menu-item (click)="deleteMessageModal(message)"><mat-icon>delete</mat-icon><span>Remove</span></button>
        </mat-menu>
        <div fxLayout="row" class="w-100" fxFlexAlign="space-between start">
            <span fxFlex="grow" class="pt-2">{{ message.content }}</span>
            <button mat-icon-button class="hover-visibility" [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
        </div>
    </mat-list-item>
</mat-list>
<mat-divider></mat-divider>
<form (ngSubmit)="addMessageEvent()" [formGroup]="messageForm" fxLayoutAlign="space-between center" class="mt-3">
    <mat-form-field fxFlex class="mx-3">
        <input matInput formControlName="content" (keyup.enter)="addMessageEvent()" placeholder="Message" />
    </mat-form-field>
    <button mat-mini-fab type="submit"><mat-icon>send</mat-icon></button>
</form>