<div fxLayout="row wrap">
    <div *ngFor="let sphere of spheres" fxFlex="33">
        <mat-card class="m-3">
            <div class="mb-3" fxLayoutAlign="space-between center">
                <span>{{ sphere.name }}</span>
                <mat-icon (click)="newSphereModal()">more_horiz</mat-icon>
            </div>
            <mat-divider></mat-divider>
            <p class="py-3 sphere-desc">{{ sphere.description }}</p>
            <button mat-button color="accent" [routerLink]="['/spheres', sphere.sphereId]">Go to sphere</button>
        </mat-card>
    </div>
</div>
<div fxLayout="row-reverse" class="mr-n5">
    <button mat-fab
        color="primary"
        class="static-button"
        (click)="newSphereModal()">
        <mat-icon>add</mat-icon>
    </button>
</div>
